#%RAML 1.0
title: customer-api-raml/{version}
version: v1
baseUri: http://api.samplehost.com
mediaType: application/json

## TODO: Refactor these into resourceType folder
resourceTypes:
  collection:
    description: A collection of <<resourcePathName>> in the system
    get:
      responses:
        200:
          body:
            example: |
              <<exampleCollection>>
    put:
      description: |
        Update an existing resource
      body:
        application/json:
      responses:
        204:
          description: |
            Succesfully updated the resource
    post:
      description: |
        Create a new resource
      body:
        application/json: object
        example: <<exampleCreateResource>>
      responses:
        201:
          description: |
            Succesfully created a new resource
          headers:
            Location:
              description: |
                Location of the newly created resource
              type: string
              required: false
    delete:
      description: |
        Delete resource
      responses:
        204:
          description: |
            Succesfully deleted resource





/customers:
  type:  { collection: {exampleCollection : !include examples/customer-paginated-response.json, exampleCreateResource : !include examples/customer.json } }
  /search:
    get:
      description: |
        Search for customers by first name, last name or address
      queryParameters:
        firstName:
          description: First name of customer
          type: string
        lastName:
          description: Last name of customer
          type: string
        address:
          description: Address
          type: string
      responses:
        200:
          description: |
            Paginated list of customers that match search term
